
.carousel-indicators li {
    width: 10px;
    height: 10px;
    background-color: grey;
}

.carousel-indicators .active {
    background-color: #202020;
}

.carousel-inner {
    width: 100%;
}

.carousel-item {
    min-height: 800px;
    color: white;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.carousel-content {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.carousel-content h6{
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 60px auto 0;
    font-size: 1.125rem;
    line-height: 1.2;
}

.carousel-content h1{
    font-size: 3rem;
    margin: 30px auto 60px;
    font-weight: 400;
    line-height: 1.1;
}

.carousel-item-bg1 {
    background-image: url('images/pexels-photo-745988.jpeg');
}

.carousel-item-bg2 {
    background-image: url('images/restaurant-love-romantic-dinner.jpg');
}