#frac {
    display: flex;
    flex-wrap: wrap;
  }
  
  .layout-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .layout-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
  }
  
  .image-1,
  .image-2,
  .image-3,
  .image-4 {
    height: 100%; 
    background-size: cover;
    background-position: center;
    
  }
  
  .image-1 {
    background-image: url('images/restaurant-love-romantic-dinner.jpg'); 
    background-position-y: 20%!important;
  }
  
  .image-2 {
    background-image: url('images/pexels-photo-5491337.jpeg'); 
    background-position-y: 70%!important;
  }
  
  .image-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-3,
  .image-4 {
    flex: 50%;
    height: 353.5px; 
  }
  
  .image-3 {
    background-image: url('images/pexels-photo-2762942.jpeg'); 
  }
  
  .image-4 {
    background-image: url('images/pexels-marta-dzedyshko-2067396.jpg'); 
  }