#frac {
    display: flex;
    flex-wrap: wrap;
    min-height: 707px;
  }
  
  .layout-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .layout-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .image-container {
    flex: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .image-1,
  .image-2,
  .image-3,
  .image-4 {
    height: 100%; /* Вы можете изменить высоту */
    background-size: cover;
    background-position: center;
  }
  
  .image-1 {
    background-image: url('images/restaurant-love-romantic-dinner.jpg'); /* Укажите URL изображения */
  }
  
  .image-2 {
    flex: 2;
    background-image: url('images/pexels-photo-5491337.jpeg'); /* Укажите URL изображения */
  }
  
  .image-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-3,
  .image-4 {
    flex: 50%;
    height: 353.5px; /* Вы можете изменить высоту */
  }
  
  .image-3 {
    background-image: url('images/pexels-photo-2762942.jpeg'); /* Укажите URL изображения */
  }
  
  .image-4 {
    background-image: url('images/pexels-marta-dzedyshko-2067396.jpg'); /* Укажите URL изображения */
  }