#menu-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    /* Выравнивание по центру */
}

#menu-button {
    background-color: #35424a;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    /* Курсор в виде руки при наведении */
    text-align: center;
    border-radius: 5px;
    /* Скругление углов */
}

#menu-button:hover {
    background-color: #2a2f35;
    /* Цвет при наведении */
}


#popup-menu {
    position: fixed;
    top: 0;
    left: -300px;
    /* Начальное положение влево от экрана */
    width: 230px;
    /* Ширина меню */
    height: 100%;
    background-color: black;
    color: white;
    z-index: 1;
    overflow-y: auto;
    padding: 0px;
    transition: left 0.7s;
    /* Анимация перехода */
}

#popup-menu.show {
    left: 0;
    /* Конечное положение (внутри экрана) */
}


#popup-menu a {
    display: block;
    padding: 8px;
    text-align: left;
    text-decoration: none;
    color: white;
    /* Белый текст для ссылок */
    text-align: center;
}

#popup-menu a:hover {
    color: #ddd;
    /* Черный текст при наведении */
}


.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}